<% include includes/header %>

<block class="content">
  <h1><%=title%></h1>
  <p>You've reached the Conferoo API. Nothing to see here unless you're a computer. Visit the <a href="http://admin.fsconference.co.uk">admin dashboard</a> or the <a href="http://fsconference.co.uk">website</a>.</p>
</block>
